/* common variables and code snippets shared among the entire app */

$accent-color : #1E88E5;
$primary-color : #ffffff;
$background-color-1 : #f3f3f3;
$background-color-2 : #fafafa;
$text-color-4 : #ADB3CC;
$text-color-3: #cfcfcf;
$text-color-2 : #7f8187;
$text-color-1 : #232325;

$danger-primary : #EB2F3A;
$danger-stroke : #FFADAD;
$danger-background : #FFF0F0;

$success-primary : #52C41A;
$success-stroke : #B7EB8F;

@mixin vertically-center {
    margin-top: auto;
    margin-bottom: auto;
}

@mixin horizontally-center {
    margin-left: auto;
    margin-right: auto;
}

@mixin shadow-design-lg($color:$text-color-2) {
  box-shadow: 0px 0px 5px $color;
}

@mixin shadow-design-xs($color:$text-color-2) {
  box-shadow: 0px 0px 1px $color;
}

@mixin breakpoint($class) {  
    @if $class == small {    
      @media (max-width: 991px) { @content; }  }   
    // @else if $class == medium {    
    //   @media (min-width: 768px) { @content; }  }   
    @else if $class == large {    
      @media (min-width: 992px) { @content; }  }   
    // @else if $class == x-large {    
    //   @media (min-width: 1200px) { @content; }  }   
    @else {    
      @warn "Breakpoint mixin supports: small or large";  
    }
  }

  @mixin padding-y($size){
    padding-top: $size;
    padding-bottom: $size;
  }
  @mixin padding-x($size){
    padding-left: $size;
    padding-right: $size;
  }

  @mixin margin-y($size){
    margin-top: $size;
    margin-bottom: $size;
  }
  @mixin margin-x($size){
    margin-left: $size;
    margin-right: $size;
  }