@import "../../commontypes/variables.scss";


.admin-page{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    background-color: $background-color-1;
    grid-template-rows: max-content auto;
    grid-template-columns: 100%;
    height: 100vh;
    // border: green 5px solid;


    &-layout-header{
        width: 100%;
        height: fit-content;
        // border: red 5px solid;
        z-index: 3;
        
    }

    &-layout-body{
        display: grid;
        grid-template-columns: max( min(20%,200px),190px) auto;
        gap: 25px;
        // border: yellow 5px solid;
        overflow: hidden;
        @include breakpoint(small){
            grid-template-columns: auto;
        }

        

        &-nav{
            // border: green 5px solid;
            background-color: $primary-color;
            display: grid;
            text-align: center;
            z-index: 2;

            @include shadow-design-lg();

            @include breakpoint(small){
                display: none;
            }
            }
        &-viewport{

            display: grid;
            // width: 100%;
            // border: orangered 5px solid;

            z-index: 1;
            overflow: scroll;
            // min-width: max-content;
        }

    }
    
}

.test-group {
    background-color: aqua;
}