@import "./../../commontypes/variables.scss";

.viewportDisplayContainer{

    background-color: $primary-color;
    margin-left: 15px;
    margin-right: 15px;
    

    @include padding-x(20px);
    @include padding-y(20px);

    @include breakpoint ('small'){
        @include padding-x(20px);
        @include padding-y(20px);
    }

    

    border-radius: 4px;
    // color;
}